<div id="blog_modal" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What's New in Dradis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
          <i class="fa fa-times"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex h-100 w-100">
          <iframe src="https://dradisframework.com/blog/category/dradispro/release/?utm_source=ce&utm_medium=app&utm_campaign=blog-modal"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-primary">Close</a>
      </div>
    </div>
  </div>
</div>
